@import '~bootstrap/scss/bootstrap';

$success: #c7f2829f;
$warning: #f1e68198;
$error: #f081817e;
$charcoal: rgba(204, 204, 204, 0.557);

* {
  margin: 0;
  padding: 0;
  //box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

a:visited {
  color: #bfbebc;
}

a:hover {
  color: rgba(212, 235, 245, 0.865);
  text-decoration: none;
  
}

.flash-success,
.flash-warning,
.flash-error {
  //border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
  margin-top: 50px;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% auto 40px;
  max-width: 200px;
  padding-bottom: 20px;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 150px;
    border-radius: 5px;
  }
}

body {
  color: white;
  line-height: 1.7;
  //padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
 // background-image:  {opacity: 0.5, url('./images/background2.jpg')};
  background-size: cover;
  background-color: black;
  background-position: top;
 // position: relative;
}

.container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.media {
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.557);
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid white;
  background-position: cover;
  width: 98vw;
}

.mt-0 {
  font-weight: bold;
}

.jumbotron {
  background-color: rgba(128, 128, 128, 0.557);
  max-width: 90vw;
  margin: auto;
  margin-bottom: 5%;
}

.center-block {
  max-height: 50%;
  max-width: 50%; 
}

.display-4 {
  font-size: 36px;
}

.span4 {
  display: inline-block;
}

.mr3 {
  display: block;
  margin: auto;
}

.img-fluid {
  max-width: 40%; 
  max-height: 40%;
  border-radius: 100%;
}

.float-right {
  margin-top: 25vh;
  margin-right: 10vw;
}

.tasting-form {
  padding: 5%;
}

.tea-select {
  margin-right: 5%;
}

.flavor-select {
  margin-right: 5%;
}
// .flavorwheel-container {
//   text-align: center;
//   background-color: rgba(128, 128, 128, 0.557);
// }

// img {
//   max-width: 100%
// }
// main {
//   height: 95vh;
//   background-size: cover;
//   background-position: top;
//   /*clip-path: x y, x y, x y, x y, from top left and clockwise*/
//   position: relative;
//   padding-top: 50px;
//   // background-color: rgba(250, 235, 215, 0.57);
// }

// // // .col {
// // //   border: 1px solid #383d41;
// // //   width: 100px;
// // //   height: 90%;
// // //   background-color: rgba(0, 0, 0, 0.53);
// // //   position: relative;
// // // }

// .recommendation-wrapper {
//   display: flex;
// }

// #recommendation-jumbotron {
//   background-image: 
// }
// // .recommendation-user-favorites {
// //   //position: absolute;
// //   // top: 50%;
// //   // left: 50%;
// //   display: block;
// //   font-size: 20px;
// //   font-weight: 400;
// //  //width: 70%;
// //   //transform: translate(-50%, 90%);
// //   // letter-spacing: 35px;
// // }

// .recommendation-message-1 {
//   //top: 0%;
//   left: 40%;
//   position: relative;
//   transform: translate(-50%, 5%);
//   margin: 10px;
// }

// .recommendation-message-2 {
//   top: 0%;
//   left: 33%;
//   position: relative;
//   transform: translate(-50%, -40%);
//   margin: 15px;
// }

// .user-flavor-list {
//  //margin-top: 10px;
//   position: relative;
//   top: -10%;
//   left: 50%;
//   list-style-type: none;
//   transform: translate(-20%, 10%);
//   //padding: 10px;
// }

// div {

// &.recommendation-wrapper {

//   display: flex;
//   flex-flow: row;
// }

// .recommendation-user-container {
//    position: relative;
//    top: 25%;
//    left: 5%; /*aka 50% from the left edge of the parent element, which is header*/
//   // transform: translate(-50%, -50%); /*now these are no longer 50% of parent element
//   // but of this element; -50% of the element's width from the right; without this
//   // top left corner will be centered, not the center itself; this basically moves
//   // the element 50% away from its own left and 50% away from its own top */
//   // background-color: rgba(255, 255, 255, 0.399);
//   // color: black; 
//   // width: 70vw;
//   // // height: 70%;
//   align-items: center;
//   border: 1px solid black;
//   display: flex;
//   flex-direction: column;
//   height: 200px;
//   margin: 10px 0 0 0;
//   width: 50vw;
//   //background-color: rgba(245, 245, 245, 0.783);
// }

// &.recommended-tea-card {
//   align-items: center;
//   border: 1px solid black;
//   display: flex;
//   flex-direction: row;
//   height: 200px;
//   margin: 10px 0 0 0;
//   width: 50vw;
//   //background-color: rgba(245, 245, 245, 0.783);
// }

// &.recommended-tea-info {
//   display: flex;
//   flex-direction: column;
//   line-height: 1;
//   width: 75%;
// }

// }

// img {
// &.recommended-tea-image {
//   height: 100%;
//   min-width: 33%;
//   object-fit: cover;
//   padding: 10px;
//   width: 33%;
// }
// }

// // .recommended-teas-container {
// //   position: relative;
// //   background-color: red;
// //   top: 40px;
// //   left: 40px;
// //   top: 30%;
// //   left: 50%;
// //   display: block;
// //   font-size: 20px;
// //   font-weight: 400;
// //   width: 100%;
// //   transform: translate(-50%, 0%);
// //   // letter-spacing: 35px;
// // }

// .recommended-tea-card-container {
//   position: relative;
//   background-color: black;
//   top: 220px;
//   left: 50%;
//   display: block;
//   font-size: 20px;
//   font-weight: 400;
//   width: 70%;
//   transform: translate(-50%, 0%);
//   // letter-spacing: 35px;
// }

// select {
//   margin: 20px;
//   display: flex;
// }

// form {
//   display: inline-flex;
//   flex-flow: column;
//   text-align: center;
//   //margin: 0 auto;
// }

// .flavor-select {
//   height: 150px;
//   width: 400px;
//   margin-left: 15%;
// }

// .tea-select {
//   width: 400px;
//   margin-left: 15%;
// }

// .create-tasting-button {
//   width: 350px;
//   margin-left: 18%;
//   margin-bottom: 10%;
// }

// .main-data-div {
//   height: auto; 
//   margin: 0 auto; 
// }

// .flavorwheel {
//   height: 66%;
//   width: 66%;
//   margin-left: 10%;
// }

// .tasting-instructions {
//   background-color: rgba(38, 33, 33, 0.365);
// }

// .tea-picture {
//   width: 100px;
//   height: 100px;
//   border: none;
// }

